* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

.container {
    width: 1720px;
    margin: auto;

}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    right: 1419px;
    top: 1px;
    background-color: white;

}

.header_left {
    display: flex;
    text-decoration: none;
    margin-right: 100px;
    margin-top: 49px;
    align-items: center;
}

.logo_brand {
    margin-right: 14px;

}

.nav_list {
    display: flex;
    list-style-type: none;
    margin-top: 49px;
}

.nav_list_item {
    margin-right: 56px;
}

.nav_list_link {

    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: black;
}

.nav_list_link:hover {
    color: #316499;
}


.header_link {
    width: 182px;
    height: 67px;
    margin-left: 250px;
    margin-top: 49px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    align-items: center;
    background: #316499;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-left: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.header_link:hover {
    width: 182px;
    height: 67px;
    margin-left: 250px;
    margin-top: 49px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #156ED7;
    text-decoration: none;
    text-align: center;
    background: #FFFFFF;
    border: 5px solid #316499;
    transition: all 0.3s ease;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-left: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.box {
    display: flex;
    width: 1720px;
    height: 800px;
    margin-bottom: 136px;
    background: rgba(49, 100, 153, 0.1);
    margin-top: 200px;
}

.box_left {
    margin-top: 170px;
}

.box_left_header {
    width: 500px;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: black;
    margin-bottom: 50px;
    margin-left: 106px;
}

.box_left_text {
    width: 550px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #828282;
    margin-bottom: 71px;
    margin-left: 106px;
}

.box_left_link {
    width: 182px;
    height: 67px;
    margin-left: 106px;
    margin-top: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    align-items: center;
    background: #316499;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-left: 28px;
    display: flex;
    justify-content: center;
}

.box_left_link:hover {
    width: 182px;
    height: 67px;
    margin-top: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #156ED7;
    text-decoration: none;
    text-align: center;
    background: rgba(49, 100, 153, 0.1);
    border: 5px solid #316499;
    transition: all 0.3s ease;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-left: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box_right_img {
    margin-right: 93px;
    margin-top: 85px;
}

.flex_wrap {
    display: flex;
    justify-content: space-between;
}

.section_title {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: #316499;
    margin-top: 132px;
    margin-bottom: 87px;
}

.first_card {
    width: 550px;
    height: 580px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
}

.section_img {
    border: 4px solid #316499;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 62px;
    padding-right: 56px;
    padding-bottom: 67px;
    padding-left: 60px;
    margin-top: 53px;
    margin-left: 175px;
}

.first_card_list {
    list-style-type: none;
}

.first_card_header {
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    margin-top: 40px;
}


.first_card_text {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #828282;
    margin-top: 15px;
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 15px;
}

.first_card_link {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-decoration-line: underline;
    color: #316499;
    margin-left: 182px;
    margin-bottom: 47px;
}

.section_title2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    color: #316499;
    margin-top: 218px;
    margin-bottom: 107px;
    text-align: center;
}

.home_img {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;

}

.location_img {
    margin-top: 39px;
    margin-left: 25px;
    margin-right: 15px;

}

.text_logo {
    display: flex;
}

.second_card_text {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
    margin-top: 39px;
    margin-bottom: 86px;
}

.second_card_link {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-decoration-line: underline;
    color: #316499;
    margin-left: 25px;
    margin-bottom: 32px;
}

.first_card:hover {
    background: #EBEBEB;
}

.vector_img {
    margin-left: 250px;
    margin-right: 35px;
}

.section_link {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #2A5B8E;
    border: 2px solid #316499;
    border-radius: 60px;
    text-decoration: none;
    padding-top: 18px;
    padding-right: 100px;
    padding-bottom: 17px;
    padding-left: 100px;
    margin-top: 60px;
    display: inline-block;
    margin-left: 700px;
}

.section_link:hover {
    background-color: #2A5B8E;
    color: white;
}


.section_title3 {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: #316499;
    margin-top: 218px;
    margin-bottom: 87px;
    text-align: center;
}

.third_second {
    width: 700px;
    height: 1000px;
    background: #FFFFFF;
    border: 3px solid #CACACA;
    border-top: none;
}

.third_second:hover {
    background: #EBEBEB;
}

.third_section_header {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    margin-left: 60px;
    margin-top: 59px;
}

.third_section_data {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #828282;
    margin-left: 60px;
    margin-top: 27px;
}

.third_card_text {
    width: 580px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #828282;
    margin-left: 60px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.third_section_link {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-decoration-line: underline;
    color: #316499;
    margin-left: 60px;
    margin-bottom: 65px;
}

.section_card {
    width: 551px;
    height: 580px;
    background: #F9FAFC;
    margin-bottom: 110px;
}

.clients_img {
    margin-top: 57px;
    margin-left: 200px;
}

.section_card_header {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    opacity: 0.7;
    margin-top: 40px;
    text-align: center;
}

.section_card_text1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #828282;
    opacity: 0.7;
    margin-top: 7px;
    text-align: center;
}

.stars_logo {
    margin-top: 7px;
    margin-left: 190px;
}

.section_card_text2 {
    width: 443px;
    height: 114px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #828282;
    opacity: 0.7;
    margin-left: 54px;
    margin-bottom: 29px;
    margin-top: 41px;
}

.section_card:hover {
    background: #EBEBEB;
}

.footer_section {
    width: 1920px;
    height: 600px;
    background: #316499;
}

.footer_header {
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 187px;
}

.footer_container {
    width: 1610px;
    height: 337px;
    text-decoration: none;
}

.footer_list {
    display: inline-block;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 70px;
    margin-bottom: 147px;
    margin-top: 131px;
    list-style-type: none;
}

.footer_header2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 37px;
}

.footer_list_item {
    padding-bottom: 15px;
    text-decoration: none;
}


.footer_list_item1 {
    width: 315px;
    height: 90px;
    padding-bottom: 15px;

}

.link_none {
    color: white;
    text-decoration: none;
}